server/.env

openAi = "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" # OpenAI API Key
gmailPass = "xeur affl zdkr yjwg" # Gmail application-specific password
username = 'postgres'
dbPass = "matthew03"
db = 'newsData'
hostname = 'localhost'
polygon = "mplYkwRaoALynpt1vkySurApehLj8YoD"
vantageAPI = "BXOOKFPEOHCCGAHR"
token = "e366dfb2d40d714341d8f23d3845f45a6cafece8"